body{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  text-align: center;
}

*{
  padding: 0;
  margin: 0;
}

.notesHeader, .notesBody, .notesFooter{
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  margin: 0;
}

.notesHeader{
  font-family: 'Lato', cursive;
}

.notesBody{
  margin-top: 20px;
}

.notesFooter{
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

